html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}













/* -- Root Start -- */
:root {
    --textcolor: #141517;
    /* --red: #ff003c; */
    --red: #ff2020;
    --gray: #f0f0f2;
    --nunito: 'Nunito Sans', sans-serif;
    --robot: 'Roboto', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
}

/* -- Root End -- */











/* -- Global Start -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* -- Global End -- */












/* -- Navbar Start -- */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 1s;
    height: 80px;
    background-color: #fff;
    z-index: 999;
}

header .container {
    height: 80px;
    text-align: center;
}

header .container .navbar {
    height: 80px;
}

header .container .navbar .collapse {
    margin: 30px 0;
}

header .container .navbar .collapse ul li {
    padding: 0 10px;
    margin: 3px 0;
}

header .container .navbar .collapse ul li a {
    font-family: var(--josefin);
    font-weight: 700;
    color: var(--textcolor);
}

header .container .navbar .collapse ul li a:hover {
    color: var(--red);
}

header .container .navbar .collapse ul li .active {
    color: var(--red);
}

header .container .navbar .collapse .nav-icon ul li i {
    font-size: 20px;
}

/* -- Navbar End -- */













/* -- Hero Start -- */
.hero {
    margin: 80px 0 0 0;
    height: 600px;
    background-color: var(--gray);
    overflow: hidden;
}

.hero .container .part1 {
    padding: 80px 0;
    display: grid;
    place-items: center;
}

.hero .container .part1 .text h1 {
    font-size: 85px;
    font-family: var(--josefin);
    font-weight: bolder;
    color: #0b1c39;
}

.hero .container .part1 .text p {
    margin: 30px 0 50px 0;
    color: #212025;
    font-size: 18px;
    font-family: var(--robot);
    line-height: 1.6;
    font-weight: 400;
}

.hero .container .part1 .text .button a {
    padding: 12px 25px;
    background-color: var(--red);
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--robot);
    text-transform: uppercase;
    border: 2px solid var(--red);
    transition: all 0.5s ease-in-out;
}

.hero .container .part1 .text .button a:hover {
    border: 2px solid var(--red);
    background: none;
    color: var(--textcolor);
}

.hero .container .part2 {
    display: grid;
    place-items: center;
}

.hero .container .part2 .img {
    display: grid;
    place-items: center;
}

.hero .container .part2 img {
    height: 600px;
    transform: scale(1.3);
    animation: height 2s infinite;
}

@keyframes height {
    0% {
        transform: scale(1.3);
        /* transform: translateY(-80px); */
    }

    50% {
        transform: scale(1.4);
        /* transform: translateY(-80px); */
    }

    100% {
        transform: scale(1.3);
        /* transform: translateY(-80px); */
    }
}

/* -- Hero End -- */















/* -- Arrivals Start -- */
.arrivals {
    height: 800px;
    padding: 150px 0 0 0;
}

.arrivals .container .heading h2 {
    font-size: 48px;
    font-family: var(--josefin);
    font-weight: bolder;
}

.arrivals .container .box {
    margin: 30px 0;
}

.arrivals .container .box .img {
    height: 400px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
}

.arrivals .container .box .img img {
    width: auto;
    transform: scale(1);
    transition: all 0.6s ease-in-out;
}

.arrivals .container .box .img img:hover {
    transform: scale(1.3);
}

.arrivals .container .box h3 {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 24px;
    font-family: var(--josefin);
    font-weight: bold;
}

.arrivals .container .box p {
    color: var(--red);
    text-align: center;
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: bold;
}

/* -- Arrivals End -- */














/* -- Items Start -- */
.items {
    padding: 150px 0;
}

.items .heading h2 {
    margin: 20px 0;
    font-size: 48px;
    font-family: var(--josefin);
    font-weight: bolder;
    text-align: center;
}

.items .heading p {
    margin: 10px 0;
    font-size: 16px;
    font-family: var(--robot);
    font-weight: normal;
    text-align: center;
}

.items .box {
    margin: 30px 0;
}

.items .box .img {
    height: 378px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.items .box .img img {
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.items .box .img img:hover {
    transform: scale(1.2);
}

.items .box h4 {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 24px;
    font-family: var(--josefin);
    font-weight: bold;
}

.items .box p {
    color: var(--red);
    text-align: center;
    font-size: 18px;
    font-family: var(--poppins);
    font-weight: bold;
}

/* -- Items End -- */














/* -- Video Start -- */
.video iframe {
    width: 100%;
    height: 500px;
}

/* -- Video End -- */












/* -- Card Start -- */
.section {
    padding: 80px 0;
}

.section .part1 .text {
    display: grid;
    place-items: center;
}

.section .part1 .text h2 {
    font-size: 46px;
    font-family: var(--josefin);
    font-weight: bold;
}

.section .part1 .text p {
    margin: 25px 0;
    color: rgb(124, 124, 124);
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    font-family: var(--robot);
    text-align: center;
}

.section .part1 .text .button {
    margin: 30px 0;
}

.section .part1 .text .button a {
    padding: 12px 25px;
    background-color: var(--red);
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: var(--robot);
    text-transform: uppercase;
    border: 2px solid var(--red);
    transition: all 0.5s ease-in-out;
}

.section .part1 .text .button a:hover {
    border: 2px solid var(--red);
    background: none;
    color: var(--textcolor);
}

/* -- Card End -- */





.form {
    font-family: var(--robot);
}






/* -- Footer Start -- */
footer .box .part1 .logo {
    margin: 40px 0 20px 0;
}

footer .box .part1 p {
    font-size: 15px;
    color: rgb(127, 127, 127);
    margin: 25px 0;
    line-height: 25px;
    font-family: var(--robot);
}

footer .box .part2 h5 {
    margin: 40px 0 20px 0;
    font-size: 24px;
    font-family: var(--robot);
    font-weight: bold;
}

footer .box .part2 ul li {
    padding: 10px 0;
}

footer .box .part2 ul li a {
    color: rgb(127, 127, 127);
    font-size: 15px;
    font-family: var(--robot);
    font-weight: normal;
    transition: all 0.5s ease-in-out;
}

footer .box .part2 ul li a:hover {
    color: var(--red);
    padding: 0 8px;
}

footer .icons {
    margin: 50px 0;
    text-align: center;
}

footer .icons ul li {
    display: inline-block;
    padding: 0 10px;
}

footer .icons ul li a {
    color: var(--textcolor);
    font-size: 25px;
}

/* -- Footer End -- */












/* -- Media Query Start -- */
@media (max-width: 991px) {
    .hero {
        height: 600px;
    }

    .hero .container .part1 .text h1 {
        font-size: 65px;
    }

    .hero .container .part2 img {
        height: 600px;
        transform: scale(1.1);
        animation: height 2s infinite;
    }

    @keyframes height {
        0% {
            transform: scale(1.1);
            /* transform: translateY(-80px); */
        }

        50% {
            transform: scale(1.2);
            /* transform: translateY(-80px); */
        }

        100% {
            transform: scale(1.1);
            /* transform: translateY(-80px); */
        }
    }

    .arrivals {
        height: 1870px;
    }

    .arrivals .container .heading h2 {
        text-align: center;
    }

    .arrivals .container .box .img {
        display: grid;
        place-items: center;
    }

    header .navbar .nav-icon {
        display: grid;
        place-items: center;
    }
}


@media (max-width: 767px) {
    .hero .container .part1 .text h1 {
        font-size: 45px;
    }

    .hero .container .part2 img {
        height: 600px;
        transform: scale(1);
        animation: height 2s infinite;
    }

    @keyframes height {
        0% {
            transform: scale(1);
            /* transform: translateY(-80px); */
        }

        50% {
            transform: scale(1.1);
            /* transform: translateY(-80px); */
        }

        100% {
            transform: scale(1);
            /* transform: translateY(-80px); */
        }
    }

    .section .part1 .text {
        display: grid;
        place-items: center;
    }

}


@media (max-width: 575px) {
    .hero {
        height: 425px;
    }

    .hero .container .part1 {
        text-align: center;
    }

    .hero .container .part1 .text h1 {
        font-size: 45px;
    }

    .hero .container .part1 .text p {
        padding: 0 30px;
    }

    .hero .container .part2 {
        display: none;
    }

    footer .box {
        text-align: center;
    }
}

/* -- Media Query End -- */